<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>todo app</title>
    </head>
    <body>
        <form action="" id="form"> 
            <label for="task">Todo</label>
            <input type="text" name="task" id="task" />
            <button id="submit" type="button" onclick="formOnSubmit()">Create</button>
        </form>
        <h3>task:</h3>
        <ul id="tasksList"></ul>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>